Our offices are split between five geographic areas in many different time zones so you will need to become 
adept at distributed working and familiar with the tools that facilitate this.  (Miro, Slack, Google Meet, etc...)