We are proud to foster a workplace free from discrimination. We strongly believe that diversity of experience, 
perspectives, and background will lead to a better environment for our employees and a better product for our 
users and our customers. This is something we value deeply and we encourage everyone to come be a part of changing 
the way the world shops online.
