## About Searchspring
Our technology helps over 1,500 retailers across 10+ retail verticals create engaging shopping 
experiences for their customers. Our new Relevancy Platform provides retailers with the tools to make their 
marketing/merchandising teams more effective, deliver a contextually relevant customer shopping experience 
across all devices, and empowers employees across all departments with actionable insights. If you love retail, 
eCommerce and have a passion for developing solutions to complex problems, come join us.