The following technologies are currently being used here, you don't need to know them all, but you should definitely know what they are.


<b>Coding:</b> Mostly Typescript/Javascript/Node.js, Golang with some maintenance of Java, Python, Clojure, Scala, PHP

<b>Back End:</b> ElasticSearch, MySQL, Redis, Redshift, RDS, Lambda

<b>Front End:</b> React, Cypress.io, Mithril.js, Redux, Ospec, Karma, Jasmine,

<b>DevOps:</b> AWS, Kubernetes, Docker, Jenkins, Cloud Build, Prometheus, Grafana, Loki
