Welcome to Searchspring, we're happy you're applying!  We think the most important thing about Searchspring, about working 
anywhere, in fact, is the people and how they interact.

At Searchspring we foster an environment of caring, helpful, considerate and empathic people.  We think that's the best 
environment to foster excellence and its one of the things we care most about in our hiring process.  If you are empathic and able to talk with humility and encourage others to thrive, we want to hear from you!

We don't want brilliance without empathy. We don't want creators who don't share. We don't want rock stars that 
don't contribute to the community. 

