## What you need

At Searchspring we use a competency based management system to hire and train people.  
For this role there are skills that you are expected to have and skills that you will be expected to learn.
Each of the skills  below link to a GitHub page describing that skill, and how you learn it, and how we
expect you to prove that you have it.  Some of these maybe not be 100% filled in - please feel free to create a 
pull request and submit how you think this skill should be defined.